@import url("cssClasses.css");
@import url("primeicons/primeicons.css");
@import url("vue3-emoji-picker/css");
@import url("leaflet/dist/leaflet.css");

@import url("@vue-flow/core/dist/theme-default.css");
@import url("@vue-flow/core/dist/style.css");
@import url("@vue-flow/minimap/dist/style.css");

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(71, 71, 71, 0.2) transparent;

  border: none;
  font-family: "Rubik", sans-serif;
  user-select: none;
  transition: none;
}
*:focus {
  outline: none;
  box-shadow: none;
}

body {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
  margin: 0;

  overflow: hidden;
}

.p-splitter,
.p-splitter-panel {
  height: 100%;
  border: 0;
}
.p-splitter .p-splitter-gutter {
  background: transparent;
}
.p-splitter .p-splitter-gutter:hover .p-splitter-gutter-handle {
  background: #6189bd;
}

.p-dialog-content {
  display: flex;
  flex-direction: column;
}

/* Custom */
.custom-shadow-1 {
  box-shadow: 0 4px 16px rgba(17, 17, 26, 0.05),
    0 8px 32px rgba(17, 17, 26, 0.05);
}
.custom-shadow-2 {
  box-shadow: 6px 2px 16px rgba(136, 165, 191, 0.48),
    -6px -2px 16px rgba(255, 255, 255, 0.8);
}
.p-button.button-gradient-effect {
  border: 0;
  background-size: 300% 100%;
  background-image: linear-gradient(42deg, #4158d0, #c850c0 46%, #ffcc70);
  transition: all 0.4s ease;
}
.p-button.button-gradient-effect:hover {
  background-position: 99% 0;
}
.vignette {
  position: fixed;
  inset: 0;
  z-index: 1;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.5) inset;
}
.blur-10 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.float-effect {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* VueFlow */
.vue-flow__minimap {
  transform-origin: bottom right;
}

.vue-flow__panel {
  background-color: transparent;
  border-radius: 5px;
}

.vue-flow__node {
  border-radius: 5px;
  border: 1;
  border-color: white;
}

.p-datatable-column-header-content {
  display: block;
}

@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.anim-appear {
  > * {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
}

.p-panelmenu {
  width: 100%;
}

.gap-none {
  gap: 0;
}
